:root {
  --lightGrey: #F5F5F5; /*Cards*/
  --lightGolden: #F5C783; /*Accent*/
  --grey: #E0E0E0; /*Borders */
  --white: #FFFFFF;
  --black: #000000;

  --h1: 48px;
  --h2: 40px;
  --h3: 32px;
  --paragraph: 18px;
  --smallText: 14px;
  --tags: 16px;
  --cta: 20px;

  --bold: 700;
  --regular: 400;
  --light: 300;

  --spacingXS: 8px;
  --spacingSml: 16px;
  --spacingMed: 32px;
  --spacingLrg: 48px;
  --spacingXL: 64px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
        text-decoration: none;
        color: #000000;
        font-weight: 700;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }
    h1 {
        font-size: var(--h1);
    }
    h2 {
        font-size: var(--h2);
    }
    h3 {
        font-size: var(--h3);
    }
    p, li{
        font-size: var(--paragraph);
        font-weight: var(--regular);
    }
    ul{
      list-style-position: inside;
    }