:root {
  --lightGrey: #F5F5F5; /*Cards*/
  --lightGolden: #F5C783; /*Accent*/
  --grey: #E0E0E0; /*Borders */
  --white: #FFFFFF;
  --black: #000000;

  --h1: 48px;
  --h2: 40px;
  --h3: 32px;
  --paragraph: 18px;
  --smallText: 14px;
  --tags: 16px;
  --cta: 20px;

  --bold: 700;
  --regular: 400;
  --light: 300;

  --spacingXS: 8px;
  --spacingSml: 16px;
  --spacingMed: 32px;
  --spacingLrg: 48px;
  --spacingXL: 64px;
}